{% load static %}
<!--add some personalization !-->
<nav class="navbar navbar-expand-lg" style="background-color: #500000;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}" style="color: #FFFFFF">
      <!--image link https://www.pngitem.com/download/iTommoo_cartoon-brain-png-cartoon-brain-lifting-weights-transparent/-->
      <img src="{% static 'log/brgains.png' %}" alt="Logo" width="80" height="70" class="d-inline-block align-text-center"><strong>
      LightWeight</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{% url 'user' %}" style="color: #FFFFFF">New Entry</a>
        {% if user.is_authenticated %}
          <a class="btn btn-outline-danger my-2 my-sm-0" href="{% url 'logout' %}"><strong>logout</strong></a>
          <span class="nav-item nav-link" style="color: #FFFFFF">{{ user.username }}</span>
        {% else %}
        <a class="btn btn-outline-info my-2 my-sm-0" href="{% url 'signup' %}">signup</a>
        <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'login' %}">login</a>
        {% endif %}


      </div>
    </div>
  </div>
</nav>
<!--can add icons to links later-->